@import "./library/mixin.scss";

@font-face {
    font-family: inter;
    src: url(./Inter_28pt-Regular.ttf);
}

*{
    @include body();
}


// HEADER
.topHead{
    width: 100vw;
    height: 4vw;
    background: #ffffff;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 0;
    top: 0;
    .title{
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5vw;
        h2{
            font-family: inter;
            opacity: .6;
        }
    }
    .headG{
        width: calc(100% - 15%);
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 2vw;
        justify-content: space-between;
        .dash{
            h3{
                font-family: inter;
                opacity: .8;
                font-size: 1.2vw;
            }
        }
        .infoAdmin{
            height: 2.7vw;
            // background: #ffffff;
            border-radius: .3vw;
            display: flex;
            align-items: center;
            padding: 0 3vw;
            .notif{
                h3{
                    color: red;
                font-family: inter;
                font-size: 1vw;
                font-weight: bold;
                position: absolute;
                right: 11.2vw;
                top: .8vw;
                }
            }
            button{
                background: none;
                border: none;
                outline: none;
                display: flex;
                transition: .3s;
                .icon{
                    margin-right: 3vw;
                    opacity: .5;
                    cursor: pointer;
                }
            }
            input{
                border-radius: .5vw;
                padding: .5vw 2vw;
                border: none;
                outline: none;
                background: #fefefede;
                margin-right: 1.5vw;
                transition: .3s;
                color: rgba(0, 0, 0, 0.74);
                font-size: .9vw;
                font-family: inter;

                &::placeholder {  /* Pour les navigateurs modernes */
                    color: #888;
                    font-family: inter;
                    font-size: .9vw;
                }
            }
            .icon{
                margin-right: 3vw;
                opacity: .5;
                cursor: pointer;
            }
            img{
                width: 2vw;
                height: 2vw;
                border-radius: 50%;
                margin-right: .5vw;
            }
            button{
                .iconCherch{
                    font-size: 1vw;
                    opacity: .8;
                    cursor: pointer;
                }
            }
        }
    }
}