@import "./library/mixin.scss";
@import "./variable/variable.scss";
@font-face {
    font-family: inter;
    src: url(./Inter_28pt-Regular.ttf);
}

*{
    @include body();
}

#pageLogin{
    @include size();
    @include flex($fd : row);
    background: url(../../public/images/back_biblio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(0,0,0,0.7);
    background-blend-mode: multiply;
    gap: 8vw;
    .bienvenue{
        width: 50%;
        height: 100%;
        @include flex();
        h1,h2,p{
            font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        color: #F1F1F1;
        h2{
            margin: 1vw 0 1vw 0;
        }
        h1{
            font-size: 3vw;
        }
        p{
            font-size: 1vw;
        }
    }
    form{
        position: relative;
        background: #fff;
        opacity: .7;
        padding: 7vw 1vw 1vw 1vw;
        width: 25vw;
        height: 26vw;
        border-radius: .5vw;
        #content-group{
            #form-group{
                #contenteInput{
                    input{
                        padding: 1vw;
                        width: 100%;
                        border-radius: .3vw;
                        outline: none;
                        border: 2px solid #aaa;
                        // margin-bottom: 2vw;
                        &::placeholder{
                            font-family: inter;
                            font-size: 1vw;
                        }
                        &:nth-last-child(1){
                            margin-top: 1.5vw;
                        }
                        &:focus{
                            border-color: $vert_pastel;
                        }

                    }
                }
            }
        }
        #contentAction{
            width: 100%;
            // padding: 1vw;
            margin-top: 1vw;
            #btnAction{
                width: 100%;
                padding: 0.5vw;
                margin-top: 2vw;
                border: none;
                color: whitesmoke;
                background: #252424;
                font-family: inter;
                border-radius: .3vw;
                cursor: pointer;
            }
        }
        #lienVersRegister{
            width: 100%;
            @include flex();
            margin-top: 1vw;
            p{
                color: #0000008a;
                font-family: inter;
                font-size: .9vw;
                .lien{
                    text-decoration: none;
                    color: $vert_pastel;
                    font-family: inter;
                }
            }
        }
        .se_connecter{
            position: absolute;
            width: 20vw;
            background: $vert_pastel;
            padding: 2vw;
            border-radius: .5vw;
            top: -1vw;
            left: 2.5vw;
            @include flex();
            h3{
                color: white;
                font-family: inter;
                font-weight: normal;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        }
    }
}